<div class="login">
    <h2 class="login-header">Acceso</h2>
    <form [formGroup]="changePasswordForm" class="login-container" (ngSubmit)="validate()">
        <p *ngIf="!code">
            <input type="text" placeholder="Email" formControlName="email">
        </p>
        <p *ngIf="code">
            <input type="text" placeholder="Código" formControlName="code">
        </p>
        <div *ngIf="isSubmitted && formError" class="help-block">
            <div>{{ textError }}</div>
        </div>
        <p>
            <input type="submit" value="Recuperar contraseña">
        </p>
    </form>
</div>
