<div class="login">
    <h2 class="login-header">Restablecer tu contraseña</h2>
    <form [formGroup]="resetPasswordForm" class="login-container" (ngSubmit)="validate()">
        <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <input type="password" placeholder="Contraseña" formControlName="password">
        </p>
        <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
            <div *ngIf="formControls.password.errors.required">La contraseña es obligatoria</div>
        </div>
        <p>
            <input type="submit" value="Confirmar contraseña">
        </p>
    </form>
</div>
