<div class="container">
    <h2>Añadir usuario</h2>
    <form [formGroup]="userForm" (ngSubmit)="submit()">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput #input [formControl]="formControls.name" required>
                <mat-error *ngIf="formControls.name.errors.required">El email es obligatorio</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput #input [formControl]="formControls.email" required>
                <mat-error *ngIf="formControls.email.errors.required">El email es obligatorio</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput #input [type]="hide ? 'password' : 'text'" [formControl]="formControls.password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formControls.password.errors.required">La contraseña es obligatoria</mat-error>
            </mat-form-field>
        </p>
        <div class="button-row">
            <button mat-raised-button color="primary" type="submit">Crear</button>
        </div>
    </form>
</div>